<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $("#noticeEdit").on("click",function(e) {
                e.preventDefault(); // preventDefault를 이용해 form 태그 전송 막기
                var noticeNno = /*[[${notice.nno}]]*/ '';
                location.href="/admin/notice/" + noticeNno;
            });
        });
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15{
            margin-bottom:15px;
        }
        .img-1{
            max-width:100%;
            width:auto;
        }
        .noticeblock{
            height:auto;
            width:100%;
        }
    </style>
</th:block>

<!--Read페이지-->
<div layout:fragment="content" style="margin: 0 25%;">
    <br><br><br>

    <div class="noticeblock">
        <span>
            <div th:if="${notice.noticeStatus == T(com.ogu.ogoods.constant.NoticeStatus).GENERAL}" class="badge badge-primary mgb-15">
              일반 - [[${notice.nno}]]번 공지
            </div>
            <div th:if="${notice.noticeStatus == T(com.ogu.ogoods.constant.NoticeStatus).HIDDEN}" class="badge btn-danger mgb-15" >
              숨김 - [[${notice.nno}]]번 공지
            </div>
            <div th:if="${notice.noticeStatus == T(com.ogu.ogoods.constant.NoticeStatus).REQUIRED}" class="badge btn-danger mgb-15" >
              필독 - [[${notice.nno}]]번 공지
            </div>
        </span>

        <div class="h4" style="text-align: center" th:text="${notice.title}"></div>
        <!--<div style="text-align: right">등록일</div>-->

        <hr class="my-4">

        <div th:each="noticeImg : ${notice.noticeImgDTOList}" class="text-center">
            <img th:src="${noticeImg.imgUrl}" class="rounded mgb-15 img-1">
        </div>

        <div style="margin: 0 5rem;" th:if="${not #lists.isEmpty(notice.content)}"> <!-- 공지사항 내용 있을 때만 출력 -->
            <div style="padding: 3rem; background-color: #E6E1F4;">
                <pre><p class="lead" th:text="${notice.content}"></p></pre>
            </div>
        </div>

        <br><hr><br>
    </div>
    <p th:align="center">
        <button type="button" class="btn btn-outline-success my-2" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" id="noticeEdit">수정</button>
        <button class="btn btn-outline-success my-2" type="button" onclick="history.back();">목록</button>
    </p>
</div>

</html>