<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <div class="hero-wrap js-fullheight" style="background-color: #e6e1f4" data-stellar-background-ratio="0.5">
    <!--<div class="overlay"></div>-->
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-11 ftco-animate text-center" >
            <img src="/img/mainImg.png" alt="O-GU-O-GOODS!" class="mainImg">
            <!--<h3 class="mr-4">말랑말랑 나만의 귀여운 소품샵,</h3>
            <h1 class="mb-4">오구오굿 O-GU-O-GOODS!</h1>-->
            <p><h5>본 사이트는 프로젝트용으로 제작되었습니다.</h5></p>
          </div>
        </div>
      </div>
    </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/main.js"></script>
</div>